/* Background with subtle stripes */
.sections-container {
    background-color: #fff8f2;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Each Section */
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
    border-radius: 12px;
    border: 2px solid rgba(242, 169, 169, 0.5);
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

/* Image Styling */
.section-image-left {
    flex: 1;
    display: flex;
    justify-content: left;
}

.section-image-right {
    flex: 1;
    display: flex;
    justify-content: right;
}

.section-image-left img,
.section-image-right img {
    width: 90%;
    height: 370px;
    object-fit: cover;
    border-radius: 12px;
}

/* Text Content */
.section-content {
    flex: 1;
    padding: 20px;
}

.section-content h2 {
    color: #b81d39;
    font-size: 35px;
    font-weight: 700;
    margin: 30px;
}

.section-content p {
    color: #5d3b4b;
    font-size: 20px;
    line-height: 1.6;
    margin: 30px;
}

/* Button Styling */
.section-content button {
    background-color: #D74658;
    color: white;
    border: 2px solid #F0C75B;
    padding: 10px 40px;
    margin: 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #F0C75B;
    color: white;
    border: 3px solid #D74658;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .section {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .section-image-left img,
    .section-image-right img {
        width: 100%;
        height: auto;
        max-width: 450px;
        border-radius: 12px;
    }
}

@media (max-width: 768px) {
    .section {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .section-image-left img,
    .section-image-right img {
        max-width: 380px;
        border-radius: 12px;
    }

    .section-content h2 {
        font-size: 28px;
    }

    .section-content p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {

    .section {
        flex-direction: column;
    }
    
    .section:nth-child(2) {
        flex-direction: column-reverse;
    }

    .section-image-left img,
.section-image-right img {
    width: 100%;

    object-fit: cover;
    border-radius: 12px;
}

    .section-content h2 {
        margin: 0%;
        max-width: 90%;
        font-size: 22px;
        padding-bottom: 20px;
    }

    .section-content p {
        font-size: 17px;
        /* margin-top: 30px 0px 0px 0px; */
        margin: 0%;
    }

    .section-content button {
        /* padding: 8px 30px; */
        font-size: 14px;
    }

    .section-image-left img,
    .section-image-right img {
        max-width: 200%;
        border-radius: 12px;
    }
}
