/* Featured Products Section */
.featured-products-BestSeller {
  padding: 2rem 2rem;  
  text-align: center;
  background-color: #F3C4CD;
  /* margin-top: 20px; */
}

.featured-products-BestSeller h2 {
  font-size: 2.5rem;
  /* margin-bottom: 2rem; */
  color: var(--c1);
}

/* Product Cards Grid */
.products-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns per row */
  background-color: white;
  justify-content: center;
  margin: auto 10px;
  padding-top: 40px;
}

.product-card-BestSeller {
  width: 100%;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  /* padding: 40px 0px; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card-BestSeller img {
  width: 237px;
  height: 219px;
  margin-bottom: 10px;
}

.product-card-BestSeller h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}

/* Heading Section */
.heading {
  width: 100%;
  text-align: center;
  padding: 50px;
}

.heading h2 {
  color: var(--c1);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.heading p {
  font-size: 20px;
  margin-bottom: 20px;
}

.heading button {
  background-color: var(--c2);
  color: white;
  border: 2px solid var(--c1);
  padding: 10px 40px;
  margin: 30px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.heading button:hover {
  background-color: var(--c1);
  color: white;
  border: 2px solid var(--c2);
}

.heading-separator {
  width: 250px;
  height: 20px;
  margin: 5px auto 40px auto;
  display: block;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .featured-products-BestSeller h2 {
    font-size: 2rem;
  }

  .products-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
  }
}

/* Tablets: Two cards per row */
@media (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns per row */
  }

  .heading h2 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 18px;
  }

  .heading button {
    padding: 8px 25px;
    font-size: 14px;
  }
}

/* Phones: One card per row */
@media (max-width: 576px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .product-card-BestSeller {
    width: 160px;
    padding: 0px;
  }

  .product-card-BestSeller h3 {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .heading h2 {
    font-size: 29px;
  }
  .heading p {
    font-size: 15px;
  }

  .heading button {
    padding: 12px 40px;
    font-size: 15px;
  }
}
